<h4 class="sectionSubtitle">Related Posts</h4>

{% if include.is_newsletter %}
  {% assign collection_key = "newsletter" %}
{% else %}
  {% assign collection_key = "posts" %}
{% endif %}

{% comment %}
  page.id looks like /2024/01/15/my-article or /my-newsletter-slug
  Strip the leading slash, then replace remaining slashes with __ to match the JSON key
{% endcomment %}
{% assign lookup_key = page.id | remove_first: "/" | replace: "/", "__" %}
{% assign related_list = site.data.related_posts[collection_key][lookup_key] %}

{% if related_list and related_list.size > 0 %}
  {% for item in related_list %}
    <article>
      <h5 class="articleTitle">
        <a href="{{ item.id | relative_url }}">{{ item.title }}</a>
        <span class="articleMeta">Posted on
          <time datetime="{{ item.date | date_to_xmlschema }}"
                itemprop="datePublished"
                class="articleDate">
            {{ item.date | date: site.date_format }}
          </time>
        </span>
      </h5>
    </article>
  {% endfor %}
{% else %}
  <p class="noResults">There are no related posts.</p>
{% endif %}
